body{
    background-color: aquamarine;
}

.spinner{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.spinner::before,
.spinner:after{
    content: "output";
    position: absolute;
    border-radius: inherit;
    color: white;
    font-size: 2em;
}

.spinner:before{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        0deg, #ff00cc 0%,
    #333399 100%);
    animation: spin .5s infinite linear;
}

.spinner:after{
    width: 85%;
    height: 85%;
    background-color: #151515;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

#button{
    background-color: #3b3e43;
    width: auto;
    height: 30vh;
}


.button{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;
    border: 3px solid #1349eb;
    border-radius: 10px;
    margin-left: 300px;
    background-color: rgb(8, 86, 86);
    margin-top: 100px;
    
}

.button:hover{
    animation: pulsate 5s  ease-in-out;

}

@keyframes pulsate{
    0%{
        box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
    }
}